<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.se">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application

        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FoodInfo" />
        <activity android:name=".FoodPage" />
        <activity android:name=".loginPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings"></activity>
        <activity android:name=".SignupPage" />
        <activity android:name=".StartActivity" />
        <activity android:name=".InformationPage" />
        <activity android:name=".HomePage" />
        <activity android:name=".searchFood" />

        <service android:name=".StepsService" />

        <activity android:name=".EditProfile" />
        <activity android:name=".HistoryPage"></activity>
        <activity android:name=".AddNewFood"></activity>
        <receiver android:name=".MyNotificationPublisher"></receiver>
        <receiver android:name=".ScreenTimeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" android:path="com.application.test" />
            </intent-filter>
        </receiver>
        <service android:name=".SleepTrackingService"
            android:process=":ff"
            android:enabled="true"
            android:exported="true" />



    </application>

</manifest>